<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <title>Bundle Layout</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="http://mbostock.github.com/d3/d3.v2.js?2.8.1"></script>
        <script type="text/javascript" src="https://raw.github.com/mbostock/d3/master/examples/bundle/packages.js"></script>
        <style type="text/css">
            .node {
              font: 10px sans-serif;
            }

            .link {
              stroke: steelblue;
              stroke-opacity: .4;
              fill: none;
            }
        </style>
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <script type="text/javascript">
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            var data = null;
            $.ajaxSetup ({ cache: false });
            $(document).ready(function () {
                $.getJSON($SCRIPT_ROOT + '/data/bundle/' + {{ data_key|tojson|safe }}, {}, function (received) {
                    data = received;
                    render('#graph', data);
                });
            });
            function render(graphid, data) {
                var cluster = d3.layout.cluster()
                    .size([360, 960 / 2 - 120])
                    .sort(null)
                    .value(function(d) { return d.size; });

                var bundle = d3.layout.bundle();

                var line = d3.svg.line.radial()
                    .interpolate("bundle")
                    .tension(.85)
                    .radius(function(d) { return d.y; })
                    .angle(function(d) { return d.x / 180 * Math.PI; });

                var vis = d3.select(graphid).append("svg:svg")
                    .attr("width", 960)
                    .attr("height", 960)
                  .append("svg:g")
                    .attr("transform", "translate(480,480)");

                var nodes = cluster.nodes(packages.root(data)),
                    links = packages.imports(nodes);

                vis.selectAll("path.link")
                    .data(bundle(links))
                  .enter().append("svg:path")
                    .attr("class", "link")
                    .attr("d", line);

                vis.selectAll("g.node")
                    .data(nodes.filter(function(n) { return !n.children; }))
                  .enter().append("svg:g")
                    .attr("class", "node")
                    .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + d.y + ")"; })
                  .append("svg:text")
                    .attr("dx", function(d) { return d.x < 180 ? 8 : -8; })
                    .attr("dy", ".31em")
                    .attr("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
                    .attr("transform", function(d) { return d.x < 180 ? null : "rotate(180)"; })
                    .text(function(d) { return d.key; });

                d3.select(self.frameElement).style("height", "960px");
            }
        </script>
        <div class='bubble' id='graph'>
        </div>
    </body>
</html>
